section{
    padding-bottom: 2rem;
}

.section1 {
    display: flex;
    justify-content: center;


}

.estructura, .introduccion, .manipulacion{
    flex: 1  1 300px;
    
    
}
.union {
    display: flex;
    align-items: center;
    gap: 30px;
}


.union table {
    border-collapse: collapse;
    font-size: 18px;
}

.union td {
    border: 1px solid #000;
    padding: 10px 15px;
}

.union img {
    width: 350px;   
    height: auto;
}

.vistapagina{
    display: flex;
    flex-direction: row;
}









/* ------------------------------------------------------------
informacion del inner
---------------------------------------------------------------*/

        body {
            font-family: sans-serif;
            margin: 30px;
        }

        .box {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .inner-text-box {
            background-color: #e9f5ff;
        }

        .inner-html-box {
            background-color: #f0fff0;
        }

        button {
            padding: 10px 15px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #btnText {
            background-color: #007bff;
            color: white;
        }

        #btnHtml {
            background-color: #28a745;
            color: white;
        }

        section {
            padding-bottom: 2rem;
        }

        .section1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .Header-color {
            padding: 1rem;
            background-color: #f2f2f2;
            text-align: center;
        }

