/* Tipografía similar */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #111;
}
/*  nav items   */
.navwhite-top {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.nav-left {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 10%;
    height: 10%;
}

.nav-menu {
    margin-right: 3rem;
    list-style: none;
    display: flex;
    gap: 5rem;
}

.nav-menu a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #111;
}

.navblack-bottom {
    background: #000;
    color: #fff;
    padding: 0.4rem 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: 1px;
}

/*  header bg*/
.header-video {
    position: relative;
    width: 100%;
    height: 905px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e5e5;
}

.header-video .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

h1 {
    z-index: 1;
    font-weight: 300;
    font-size: 3rem;
}
/*  content Leer, Modificar y Eliminar Atributos HTML con JavaScript    */
.atrib-main {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.atrib-main h2 {
    font-weight: 1;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.atrib-main p {
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 1.3rem;
}

/*  getAttribute    */
.getA-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}


.getA-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.getA-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.getA-teory p {
    font-size: 1.3rem;
}

.getA-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.getA-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.getA-example p {
    font-size: 1.3rem;
}

/*  setAttribute    */
.setA-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.setA-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.setA-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.setA-teory p {
    font-size: 1.3rem;
}

.setA-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.setA-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.setA-example p {
    font-size: 1.3rem;
}

/*  removeAttribute    */
.remA-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.remA-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.remA-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.remA-teory p {
    font-size: 1.3rem;
}

.remA-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.remA-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.remA-example p {
    font-size: 1.3rem;
}

/*  hasAttribute    */
.hasA-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.hasA-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.hasA-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.hasA-teory p {
    font-size: 1.3rem;
}

.hasA-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.hasA-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.hasA-example p {
    font-size: 1.3rem;
}

/*  Modificar estilos y CSS del DOM con javascript    */
.modCss-main {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.modCss-main h2 {
    font-weight: 1;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.modCss-main p {
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 1.3rem;
}

/*  Modificación directa de estilos CSS    */
.modDirCss {
    background-color: #e5e5e5;
    width: 116rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 4px;
    margin-left: 0.5rem;
}

.modDirCss h2 {
    font-weight: 1;
    font-size: 2.5rem;
    text-align: center;
}

.modDirCss p {
    font-size: 1.3rem;
}

.modDirCss code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

/*  Manipulacion  de clases CSS    */
.manClassCss {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.manClassCss h2 {
    font-weight: 1;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.manClassCss p {
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 1.3rem;
}

/*  add()    */
.add-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.add-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.add-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.add-teory p {
    font-size: 1.3rem;
}

.add-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.add-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.add-example p {
    font-size: 1.3rem;
}

/*  remove()    */
.remo-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.remo-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.remo-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.remo-teory p {
    font-size: 1.3rem;
}

.remo-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.remo-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.remo-example p {
    font-size: 1.3rem;
}

/*  toggle()    */
.tog-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5%;
}

.tog-teory {
    background-color: #e5e5e5;
    width: 50%;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 4px;
}

.tog-teory h2 {
    font-weight: 1;
    font-size: 2.5rem;
}

.tog-teory p {
    font-size: 1.3rem;
}

.tog-teory code {
    font-size: 1rem;
    line-height: 1.7rem;
    color:darkblue;
}

.tog-example {
    width:50%;
    background-color: #e5e5e5;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 4px;

}

.tog-example p {
    font-size: 1.3rem;
}
