    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   
    .titulo-pagina{
    font-size: 3rem;
    background-color: #e0f0ff;
    width: 60%;
    border: 2px solid rgba(180, 185, 185, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    border-radius: 2rem;
    margin-left: 25rem;
    }
    #container{
        font-size: 3rem;
        margin: 5rem 7rem;
    }
    .byid{
    background-color:  #a8d0e6;
    }
    .className{
    background-color: #b7e4c7;
    }
    .tagName{
    background-color: #ffd6a5;
    }
    .queryselec{
    background-color: #ade8f4;
    }
    .queryselect{
    background-color: #fff3b0;
    }

    details{
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3rem;
     width: 100%;
    border: 2px solid rgba(180, 185, 185, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    border-radius: 2rem;
    }
    
    .ejemplos{
        margin-left: 6rem;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        
    }
     h2{
        font-size: 3rem;
        text-align: center;
    }
    .nota, .tagName p {
        font-size: 2.5rem;
        margin-left: 9rem;
    }

    button{
        margin-left: 9rem;
        font-size: 2rem;
    }
    input{
        margin-left: 9rem;
        font-size: 2rem;       
    }
    .resaltadoc{
        font-size: 2rem;
        margin-left: 9rem;
    }
 #resultado, h3, li, p{
        font-size: 2rem;
        margin-left: 9rem;
    }

     #titulo{
        font-size: 3rem;
        margin-left: 9rem;
     }
.tagName p{
        font-size: 2.5rem;
        margin-left: 9rem;
     }