
 /* --------------------------------------------
   RESET GENERAL Y TIPOGRAFÍA BÁSICA
-------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding no sume al ancho */
}



body {
  font-family: sans-serif; /* opcional: define una fuente base */
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}


/* --------------------------------------------
   ENLACES
-------------------------------------------- */
a {
  text-decoration: none;
  color: inherit; /* Mismo color que el texto */
}

/* --------------------------------------------
   CABECERA
-------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #008080;
  padding-right: 5rem;
  }

header img {
  width: 8%;
  border-radius: 2rem;
  margin: -2rem 2rem;
}
header h2 {
  margin-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: rgb(214, 25, 25); /* Verde natural */
  font-size: 2rem;

}

nav a {
  color: white;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
  margin: 2rem;
  
}

nav a:hover {
  color: #333;
}

/* --------------------------------------------
   MENÚ HAMBURGUESA SOLO CON HTML + CSS
-------------------------------------------- */
/* Oculta checkbox */
.menu-toggle {
  display: none;
}
/* Icono de hamburguesa */
.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #4caf50;
  padding: 10px 20px;
}

/* --------------------------------------------------------
    INFORMACION DEL BODY  
---------------------------------------------------------*/
h1{
  margin: 3rem;
  text-align: center;
}
.portada{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 6rem;
}
/* --------------------------------------------
   PIE DE PÁGINA
-------------------------------------------- */
footer {
  background: #008080;
  color: white;
  text-align: center;
  padding: 2rem 3rem;
}
footer a {
  color: #e8f5e9;
}

